<div>
    <table>
        <tr class="field">
            <mat-card>
                <td>
                    <app-exercise
                    [id]="_set.exerciseId"></app-exercise>
                </td>
                <td class="reps-field">
                    Reps:<br>
                    {{ _set.repCount }}
                </td>
                <td>
                    Sets:<br>
                    {{ _set.setCount }}
                </td>
            </mat-card>
        </tr>
    </table>
</div>
