<div>
    <table>
        <tr class="field">
            <mat-card>
                <td>
                    <app-exercise
                    [id]="sets[id - 1].exerciseId"></app-exercise>
                </td>
                <td class="reps-field">
                    Reps:<br>
                    {{ sets[id - 1].repCount }}
                </td>
                <td>
                    Sets:<br>
                    {{ sets[id - 1].setCount }}
                </td>
            </mat-card>
        </tr>
    </table>
</div>
