mat-card {
    //background-color: #ffffef; //ddeeff = original
    min-width: 550px;
    width: 100%;
}

.exercise-container {
    min-width: 300px;
    width: 100%;
}

.field td {
    padding: 10px;
    text-align: center;
}

.count-field {
    font-weight: 500;
}