.form-container {
    margin-left: 1em;
    max-width: 700px;
}
.set {
    margin-bottom: 1em;
}

h1 {
    margin-left: 1em;
}

.descriptive-field {
    width: 100%;
}

.description {
    min-height: 100px;
}

.add-sets-card {
    margin-bottom: 1em;
}

.create-button {
    margin-top: 1em;
    min-width: 100px;
}