button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    min-width: 150px;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }


  h1 {
    margin-top: 0.5em;
    margin-left: 1em;
  }
  .form-container {
    margin-bottom: 1em;
    margin-left: 1em;
  }

  .main-select {
    min-width: 120px;
    margin-right: 1em;
  }

.field {
    min-width: 100px;
    width: 20%;

    margin-bottom: 1em;
}

.muscle-field {
  min-width: 100px;
  width: 20%;

  margin-bottom: 1em;
}

.description-field {
  min-height: 100px;
}