
<mat-card class="add-sets-card">
    <h2>Add sets</h2>
        <mat-card class="set">Exercise 1
            <form [formGroup]="form"> <!-- (ngSubmit)="onSubmit()" > -->
                <mat-form-field class="field" appearance="fill">
                    <mat-label>Sets</mat-label>
                    <input matInput formControlName="sets" class="form-control" [ngClass]="{ 'is-invalid': submitted }" />
                </mat-form-field>
                  <br>
            </form>
        </mat-card>    
    <app-create-set></app-create-set>
</mat-card>