<div>create this works</div>

<form class="example-form" ngNoForm> <!-- ngNoForm used to force native HTML5 validation and thereby circumventing NodeInjection error --> 
    <mat-form-field class="example-full-width">
        <input type="text"
                placeholder="Pick exercise"
                aria-label="Exercise"
                matInput
                [formControl]="myControl"
                [matAutocomplete]="auto">
    
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option">
            {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>